<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="um!GY^$bRH$+W\)c bz ao|xy@\G HR4HpvcOUtdDEJ~kdF7,7s=dcD=L;J|fXT|kbdw-H*Q9lHN^tvI2,)3G}QDsgFa8e8$-:-!ep6@I96.14cVtfyU?b,3K[(\fyzIHfARAZ5FlO|704vj 4cWdf|3&gt;g3" />
    <!--数据库连接字符串-->
    <add key="Language" value="" />
    <!--设置系统的语言 zh-CHS 表示中文简体  zh-CHT 表示中文繁体  en 表示英文-->
    <add key="RememberLogID" value="True" />
    <!--是否记住登录名-->
    <add key="NeedPasswordWhenExit" value="False" />
    <!--是否退出需要登录密钥验证-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
