<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="/!y#O]&gt;iRI9R/\) JHz[nH$xo#_vavHomo?JOU6L/HYk:C%&amp;o~6~xf$7T(LnDZOtf:e?4}lND#y)^B_nL|u!OV*AIZ6Ju4S3Wv&gt;/gh&lt;b*6n{Ewhc" />
    <!--数据库连接字符串-->
    <add key="Language" value="" />
    <!--设置系统的语言 zh-CHS 表示中文简体  zh-CHT 表示中文繁体  en 表示英文-->
    <add key="RememberLogID" value="True" />
    <!--是否记住登录名-->
    <add key="NeedPasswordWhenExit" value="False" />
    <!--是否退出需要登录密钥验证-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>